body{
  background-color: #131313;
  font-family: 'Epilogue', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a{
  color: white;
  line-height: 1.5em;
}
a{
  text-decoration: none;
}

.container{
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

nav{
  padding: 10px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}
nav > .logo{
  height: 16px;
  margin-left: auto;
}
.nav-link{
  font-size: 16px;
  font-weight: 200;
  color: rgb(168, 168, 168);
}
.nav-link.active{
  color: white;
}

.hero{
  color: white;
  margin-bottom: 75px;
}
.hero > .title{
  font-size: 26px;
  font-weight: 200;
  margin-bottom: 15px;
}
.hero > .subtitle{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}
.hero > .profile{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}

.projects{
  margin-bottom: 50px;
}
.projects > .title{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}
.projects > .grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
.projects > .grid > .item{
  background-color: rgb(53, 53, 53);
  height: 120px;
  border-radius: 10px;
}

.contact{
  display: block;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 40px;
}

@media screen and (min-width: 520px) {
  nav{
    padding: 50px 0;
    margin-bottom: 0px;
  }
  .projects > .grid{
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
