.hero{
  color: white;
  margin-bottom: 75px;
  .title{
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 15px;
    color: white;
  }
  .subtitle{
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 25px;
  }
  .about-me{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    .icon{
      width: 16px;
      margin-left: 4px;
    }
    .text{
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.projects{
  margin-bottom: 50px;
  .title{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .work{
    margin-bottom: 30px;
    .image-container{
      display: block;
      margin-bottom: 10px;
      height: 120px;
      .image{
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 10px;
      }
    }
    .info{
      .name{
        margin-bottom: 10px;
      }
      .detail{
        font-weight: 200;
        font-size: 16px;
        color: lightgray;
      }
    }
  }
}

.contact{
  display: block;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 40px;
}

@media screen and (min-width: 600px){
  .work{
    display: flex;
    gap: 20px;
    .image-container{
      height: 40px;
      flex: 2;
    }
    .info{
      flex: 3;
    }
  }
}
