.experience{
  margin-bottom: 50px;
  .subtitle{
    font-size: 20px;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
  .job{
    margin-bottom: 20px;
    .title{
      margin-bottom: 10px;
    }
    .body{
      font-weight: 200;
      color: lightgray;
    }
  }
}

.contacts{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  .link{
    display: flex;
    .title{
      display: block;
      font-weight: 200;
      color: lightgray;
    }
    .icon{
      margin-left: 4px;
      width: 16px;
      opacity: 0.5;
    }
  }
}